<section data-ng-controller="CustomersUpdateController as vm">
	<div class="modal-header">
		<h3 class="modal-title">update: {{customer.firstName}}</h3>
	</div>
	<div class="modal-body">

		<form name="updatecustomerform">
			<fieldset>



				<div class="row">
					<div class="col-sm-6 text-center" >

						<i class="glyphicon glyphicon-user cust-profile"  ng-class="{'text-primary':customer.referred,'text-danger':!customer.referred}"></i>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label" for="firstname" >first name</label>
							<div class="controls">
								<input class="form-control" id="firstname" type="text" data-ng-model="customer.firstName">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" >sur name</label>
							<div class="controls">
								<input class="form-control" id="surname" type="text" data-ng-model="customer.surName">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" >suburb</label>
							<div class="controls">
								<input class="form-control" id="suburb" type="text" data-ng-model="customer.suburb">
							</div>
						</div>


						<div class="form-group">
							<label class="control-label" >country</label>
							<div class="controls">
								<input class="form-control" id="country" type="text" data-ng-model="customer.country">
							</div>
						</div>
					</div>
				</div>


				<div class="row">

					<div class="col-sm-6 col-sm-push-6">
						<div class="form-group">

							<label class="control-label" >email</label>
							<div class="controls">
								<input class="form-control" id="email" type="text" data-ng-model="customer.email">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" >phone</label>
							<div class="controls">
								<input class="form-control" id="phone" type="text" data-ng-model="customer.phone">
							</div>
						</div>



					</div>

					<div class="col-sm-6 col-sm-pull-6">
						<div class="form-group">
							<label class="control-label" for="referred">referred</label>
							<div class="controls">
								<input name="referred" class="form-control checkbox-left" id="referred" type="checkbox" data-ng-model="customer.referred">
							</div>
						</div>


						<div class="form-group">
							<label class="control-label" for="channel" >channel</label>
							<div class="controls">

							<Select class="form-control" id="channel" data-ng-model="customer.channel" ng-options="channelItems.item for channelItems in channelOptions">
							<option value="">choose channel</option>
						</Select>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label" for="industry" >industry</label>
							<div class="controls">
								<input class="form-control" id="industry" type="text" data-ng-model="customer.industry">
							</div>
						</div>
					</div>



				</div> <!-- 3rd row -->

			</fieldset>


		</form>
		</div>


	<div class="modal-footer">
		<button class="btn btn-success" type="button" ng-click="vm.update(customer); ok()" ng-disabled="updatecustomerform.$invalid">Update</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>




</section>
